
<h1>List of Cats</h1>
 
 <%= link_to 'Add a new cat', new_cat_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
	<th>Breed</th>
	<th>Gender</th>
	<th colspan="3"></th>
  </tr>
 
  <% @cats.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= cat.color %></td>
	  <td><%= cat.race %></td>
	  <td><%= cat.gender %></td>
	  <td><%= link_to 'Show', cat_path(cat) %></td>
      <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
      <td><%= link_to 'Destroy', cat_path(cat), method: :delete, data: { confirm: 'Are you sure you want to delete this cat?' } %></td>	  
    </tr>
  <% end %>
</table>
